/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
h1 {
  font-size: 44px;
  font-weight: 300;
  line-height: 80px;
}
a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.header {
  position: fixed;
  z-index: 1000000;
}

.header img {
  width: 100%;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}
.wrapper img {
  width: 100%;
}
.col-md-4 {
  padding: 5px !important;
}
.col-md-4 img {
  width: 100%;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}

.btn-yellow {
  position: absolute;
  margin-top: -40px;
  height: 32px;
  margin-left: 10px;
  color: #000 !important;
  background-color: #ffb900;
  background-image: -webkit-linear-gradient( bottom , #ffb900, #fc0);
  background-image: linear-gradient(to top, #ffb900, #fc0);
}


.btn-yellow:hover {
  position: absolute;
  margin-top: -40px;
  margin-left: 10px;
  color: #000 !important;
  background-color: #e1a301;
  background-image: -webkit-linear-gradient( bottom , #e1a301, #fc0);
  background-image: linear-gradient(to top, #e1a301, #fc0);
}

.footer img {
  width: 100%;
}
.nav-tabs>li {
  width: 33.3333%;
  font-size: 13px;
  text-align: center;
}
.nav-tabs>li a {
height: 67px;
padding-top: 15px;

}
.nav-tabs>.active a{
  background: #038cd6 !important;
  color: white !important;
}

.others {
  width: 100%;
}
.desc {
  padding: 0px;
}
.tarif {
  background: #f5f5f5;
  padding: 20px;

}

.n1 {
  font-size: 20px;
  line-height: 40px;
}

.n2 {
  font-size: 16px;
  line-height: 30px;
}
.n3 {
  font-size: 14px;
  color: grey;
}

.n4 {
  font-size: 27px;
  color: #038cd6;
}

.n5 {
  font-size: 15px;
  color: grey;
  margin-top: 20px;
  margin-bottom: 10px;
}

.active .n4 {
  float: right;
}

.active a {
  float: right;
}

.n6 {
  font-size: 20px;
  margin-top: 40px;
}

.discount, .sum, .reszlet  {
  background: #f0f0f0;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 38px;

}

.discount .n2 {
  font-size: 19px;
  float: left;
  line-height: 18px;
}
.n7 {
  float: right;
  font-size: 28px;
  line-height: 20px;
}
.sum label {
  font-size: 17px;
  float: left;
  line-height: 18px;
}
.tarif .active {
  background: #43c682;
}
.tarif .active p {
  color: white;
}
.tarif .active label {
  color: white;
}

.reszlet button{
  float: right;
}
.reszlet .n7 {
float: none;
display: inline-block;}

.hold {
  float: right;
}

.hold .n7 {
  font-size: 18px;
  color: grey;
}

.addtocart {
  margin-top: 20px;
  position: relative;
  float: right;
  height: 50px;
  width: 170px;
  font-size: 19px;
}
.addtocart:hover {
  margin-top: 20px;
  position: relative;
  float: right;
}
.buttonholder {
  height: 80px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-top: 1px !important;
}
.tabs {
  width: 100%;
}
table {
  line-height: 22px;
}
th {
  color: #fff;
  font-weight: normal;
  border: 1px solid transparent;
  border-color: #33bdec #009acf #009acf #33bdec;
  padding: 8px;
  text-align: center;
  background-color: #00ace7;
  box-shadow: 0 -1px 0 1px #00ace7;
}

.td {
  color: #222;
  border-right: 1px solid #e4e5e6;
  border-left: 1px solid #e4e5e6;
  padding: 10px;
  text-align: center;
}
.tr:nth-child(even) {
  background: #f6f6f6;
}
.tr:nth-child(odd) {
  background: #ededed;
}

.grey {
  background: #ededed;
}



.td:nth-child(1), .td:nth-child(2) {
  color: #00ace7;
  width: 120px;
}
.td:nth-child(3) {
  max-width: 200px;
  font-size: 14px;
}
.sec {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  width: 130px;
  text-align: center;
}

.sectr {
  border-bottom: 1px solid #d4d4d4;
  height: 55px;
  font-size: 15px;
}

.sectr_ td {
  padding: 5px;
  padding-left: 10px;
}
.sectr .btn {
  margin-top: -18px;
  margin-left: 15px;
}
.sectr_ .btn {
  margin-top: -28px;
  margin-left: 5px;
}

.online {
  font-weight: bold;
}

.right {
  text-align: right !important;
}
.left {
  text-align: left !important;
}
.blue {
  background-color: #029edf;
  background-image: -webkit-linear-gradient( bottom , #029edf, #00ace7);
  background-image: linear-gradient(to top, #029edf, #00ace7);
  color: white !important;
}
.blue:hover {
  background-color: #040edf;
  background-image: -webkit-linear-gradient( bottom , #029edf, #00ace7);
  background-image: linear-gradient(to top, #029edf, #00ace7);
  color: white !important;
}

.header .links {
  position: absolute;
  display: block;
  top: 3vw;
  margin-left: 17vw;
}
.header .links a {
  color: rgba(255, 255, 255, 0.78);
  padding: 30px;
}
